<mat-form-field appearance="fill">
  <mat-label>Categories</mat-label>
  <mat-select [formControl]="category" multiple>
    <mat-select-trigger>
      {{ category.value?.[0] || '' }}
      <span *ngIf="(category.value?.length || 0) > 1">
        (+{{ (category.value?.length || 0) - 1 }} {{ category.value?.length === 2 ? 'other' : 'others' }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let value of categoriesList" [value]="value">{{ value | titlecase }}</mat-option>
  </mat-select>
</mat-form-field>
